.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 68px;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease,
    max-height 0.3s ease;
  padding: 1.5rem 0;
  z-index: 1020;

  &.scrolled {
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 767.98px) {
    &.mobileMenuOpen {
      backdrop-filter: blur(8px);
      background-color: rgba(255, 255, 255, 0.05);
      max-height: 100%;
    }
  }
}

.logo a {
  color: var(--white);
  font-weight: 700;
  text-decoration: none;

  &:hover {
    color: var(--white);
  }
}
