.mobileMenuBtn {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  margin-left: 3rem;
  width: 28px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  @media (min-width: 768px) {
    display: none;
  }

  div {
    background-color: var(--header-btn);
    border-radius: 3px;
    height: 2px;
    width: 100%;
    transition: all 0.3s ease;

    &:last-of-type {
      width: 60%;
    }
  }

  &.mobileMenuOpen div {
    &:first-of-type {
      transform: rotate(135deg) translate(5px, -4px);
    }

    &:last-of-type {
      transform: rotate(45deg) translate(-4px, -4px);
      width: 100%;
    }
  }
}
