.mobileMenu {
  margin-top: 1.5rem;
  padding: 0 1rem;
  animation-name: fadeDown;
  animation-duration: 0.3s;
  animation-timing-function: ease;

  @keyframes fadeDown {
    from {
      transform: translateY(-250%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animateOut {
    animation-name: fadeUp;

    @keyframes fadeUp {
      from {
        transform: translateY(0);
        opacity: 1;
      }
      to {
        transform: translateY(-250%);
        opacity: 0;
      }
    }
  }

  @media (min-width: 768px) {
    display: none;
  }
}
