.card {
  border: 1px solid var(--card-border);
  border-bottom: none;
  border-radius: 1em;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    .hover {
      width: 132px;
    }

    .hoverText {
      opacity: 1;
    }
  }
}

.header {
  position: relative;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  filter: var(--projects-filter);
  height: 350px;
  overflow: hidden;
}

.body {
  position: relative;
  background-color: var(--card);
  border-bottom: 2px solid var(--project-color);
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  padding: 1rem 1.25rem 1.25rem;
  margin-top: auto;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    background-image: linear-gradient(
      to left,
      var(--card-gradient),
      transparent
    );
    transform: skewX(345deg);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 3%;
    right: 3%;
    box-shadow: 0px -5px 20px 4px var(--project-color);
    z-index: -1;
  }
}

.name {
  border-bottom: 1px solid var(--card-divider);
  font-weight: 600;
  margin-bottom: 0.75rem;
  padding-bottom: 0.75rem;
}

.description {
  flex-grow: 1;
  height: 100%;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.4;
}

.hover {
  position: absolute;
  display: inline-block;
  bottom: 0.75rem;
  left: 0.75rem;
  display: flex;
  align-items: center;
  backdrop-filter: blur(4px);
  background-color: var(--card-hover);
  border-radius: 1.25em;
  box-shadow: 0 0 10px var(--card-hover-shadow);
  width: 38px;
  transition: all 0.3s ease;

  @media (hover: none) {
    width: 135px;
  }

  .hoverIcon {
    display: flex;
    padding: 0.625rem;
  }

  .hoverText {
    opacity: 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    pointer-events: none;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
    transition: opacity 0.3s ease;

    @media (hover: none) {
      opacity: 1;
    }
  }
}
