.tooltip {
  position: absolute;
  background-color: var(--tooltip);
  border-radius: 0.5em;
  color: var(--tooltip-text);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1;
  padding: 0.4em 0.625em;
  width: max-content;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.15s ease, visibility 0.15s ease;

  &.visible {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
}
