.hero {
  position: relative;
  display: flex;
  background-image: linear-gradient(
    -45deg,
    var(--hero-gradient-1),
    var(--hero-gradient-2),
    var(--hero-gradient-3)
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
  z-index: 2;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    background-image: radial-gradient(
      circle,
      transparent 0%,
      var(--hero-gradient-3) 80%
    );

    @media (min-width: 576px) {
      background-image: radial-gradient(
        transparent 0%,
        var(--hero-gradient-3) 70%
      );
    }
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.content {
  line-height: 1;
  margin: auto;
  max-width: 470px;

  @media (min-width: 1200px) {
    max-width: none;
  }
}

.name {
  $text-shadow-color: var(--sky-600);

  color: var(--hero-name);
  font-size: 6rem;
  font-weight: 800;
  line-height: 0.8;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 $text-shadow-color, 0 -1px 0 $text-shadow-color,
    1px -1px 0 $text-shadow-color, 1px 0 0 $text-shadow-color,
    1px 1px 0 $text-shadow-color, 0 1px 0 $text-shadow-color,
    -1px 1px 0 $text-shadow-color, -1px 0 0 $text-shadow-color;

  span:not(.nbsp) {
    display: block;

    &:first-of-type {
      font-size: 1.24em;
    }
  }

  .nbsp {
    display: none;
  }

  @media (min-width: 576px) {
    font-size: 5rem;

    span:not(.nbsp) {
      display: inline;

      &:first-of-type {
        font-size: 1em;
      }
    }

    .nbsp {
      display: inline;
    }
  }
}

.description {
  color: var(--hero-description);
  font-size: 4rem;
  font-weight: 800;
  line-height: 0.9;

  span:not(.nbsp) {
    display: block;
    font-size: 0.65em;
  }

  .nbsp {
    display: none;
  }

  @media (min-width: 768px) {
    span:not(.nbsp) {
      font-size: 0.875em;
    }
  }

  @media (min-width: 1200px) {
    span:not(.nbsp) {
      display: inline;
    }

    .nbsp {
      display: inline;
    }
  }
}

.chevron {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5vh;
  margin: auto;
  text-align: center;
  text-decoration: none;
  height: 70px;
  width: 70px;
  z-index: 1;

  span {
    display: inline-block;
    border-left: 1px solid var(--hero-chevron);
    border-bottom: 1px solid var(--hero-chevron);
    transform: rotate(-45deg);
    width: 24px;
    height: 24px;
    animation: scrollDownChevron 1.5s infinite;

    @keyframes scrollDownChevron {
      0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
      }
    }
  }
}
