.particles {
  position: absolute;
  inset: 0;
  overflow: hidden;

  span {
    $animationDuration: 10s;
    $amount: 20;

    aspect-ratio: 1;
    border-radius: 50%;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: $animationDuration;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    @for $i from 1 through $amount {
      &:nth-child(#{$i}) {
        $particleSize: random(75) * 1vh;
        color: rgba(255, 255, 255, 0.05);
        top: random(100) * 1%;
        left: random(100) * 1%;
        animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
        animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
        transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
        $blurRadius: $particleSize / 10;
        $x: if(random() > 0.5, -1, 1);
        box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
        width: $particleSize;
      }
    }

    @keyframes move {
      100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
      }
    }
  }
}
