.form {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 500px);
  justify-content: center;
  row-gap: 0.15rem;
  z-index: 1;
}

.formInput {
  position: relative;
  border-radius: 0.5em;
  box-shadow: 0 0 10px var(--form-shadow);

  button {
    appearance: none;
    background-color: var(--form-btn);
    border: 1px solid var(--form-border);
    border-radius: 0.5em;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    color: var(--form-btn-text);
    padding: 0.75rem;
    text-transform: uppercase;
    transition: 0.15s ease;
    width: 100%;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      background-color: var(--form-btn-hover);
    }

    &:focus {
      box-shadow: 0 0 0 2px var(--form-btn-hover);
      outline: none;
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  label {
    position: absolute;
    top: 50%;
    left: 0.875rem;
    background-color: var(--form-label);
    color: var(--form-label-text);
    transform: translateY(-50%);
    transform-origin: left top;
    transition: color 0.15s ease, transform 0.15s ease;
    pointer-events: none;
  }

  input,
  textarea {
    appearance: none;
    display: block;
    background-color: var(--form-input);
    border: 1px solid var(--form-border);
    border-radius: 0.5em;
    color: var(--form-text);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    padding: 1.5rem 0.875rem 0.625rem;
    width: 100%;

    &:hover {
      box-shadow: 0 0 0 1px var(--form-border);
    }

    &:focus {
      box-shadow: 0 0 0 2px var(--form-border);
      outline: none;
    }

    &:focus + label,
    &:not(:placeholder-shown) + label {
      color: var(--form-valid);
      transform: translateY(-110%) scale(0.75);
    }
  }

  textarea {
    min-height: 188px;
    resize: vertical;
    width: 100%;

    & + label {
      top: 27px;
    }
  }

  &.formInputError {
    label {
      color: var(--form-error) !important;
    }

    input,
    textarea {
      border-color: var(--form-error);
    }
  }
}

.formError {
  color: var(--form-error);
  font-size: 0.875rem;
  padding-left: 0.875rem;
  line-height: 24px;
  height: 24px;

  > * {
    animation: fadeInDown 0.3s ease forwards;

    @keyframes fadeInDown {
      from {
        opacity: 0;
        transform: translateY(-20%);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
