.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-height: 72px;
  transition: background-color 0.3s ease, max-height 0.3s ease,
    box-shadow 0.3s ease;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  z-index: 1020;

  &.scrolled {
    background-color: var(--header);
    backdrop-filter: saturate(150%) blur(10px);
    box-shadow: 0 4px 10px var(--header-shadow);
  }

  @media (max-width: 767.98px) {
    &.mobileMenuOpen {
      max-height: 115px;
    }
  }

  .flex {
    display: flex;
  }
}

.logo {
  margin-left: 0.5rem;
  margin-right: auto;

  a {
    color: var(--header-logo);
    font-size: 1.125rem;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.15s ease;

    &:hover {
      color: var(--header-logo-hover);
    }
  }
}
