.contact {
  padding-bottom: 1rem;
}

.text {
  position: relative;
  color: rgba(255, 255, 255, 0.87);
  margin-bottom: 2rem;
  text-align: center;

  a {
    position: relative;
    display: inline-block;
    color: rgba(255, 255, 255, 0.87);
    font-weight: 500;
    padding: 0 0.2em;
    text-decoration: none;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.1em;
      background-color: hsl(219, 62%, 30%);
      height: 0.4em;
      transition: height 0.15s ease;
      width: 100%;
      z-index: -1;
    }

    &:hover {
      &::before {
        height: calc(1em + 0.35em);
      }
    }
  }
}
