.switchTheme {
  appearance: none;
  background: none;
  border: none;
  border-radius: 50%;
  aspect-ratio: 1;
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  outline-offset: 5px;

  &:hover {
    .sun {
      fill: var(--header-btn-hover);
    }

    .sunBeams {
      stroke: var(--header-btn-hover);
    }
  }

  &.dark .sunAndMoon {
    .sun {
      transform: scale(1.75);
      transition-timing-function: ease;
      transition-duration: 0.25s;
    }

    .sunBeams {
      opacity: 0;
      transform: rotateZ(-25deg);
      transition-duration: 0.15s;
    }

    .moon > circle {
      transform: translateX(-7px);
      transition: transform 0.25s ease-out;
      transition-delay: 0.25s;
      transition-duration: 0.5s;

      @supports (cx: 1) {
        transform: translateX(0);
        cx: 17;
        transition: cx 0.25s ease-out;
      }
    }
  }
}

.sunAndMoon {
  stroke-linecap: round;
  transition: color 0.15s ease;

  .moon,
  .sun,
  .sunBeams {
    transform-origin: center center;
  }

  .moon,
  .sun {
    fill: var(--header-btn);
  }

  .sun {
    transition: transform 0.5s ease;
  }

  .sunBeams {
    stroke: var(--header-btn);
    stroke-width: 2px;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
}
