.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 1030;
  padding: 1rem;
  overflow-y: auto;

  &.modalCardAnimation {
    .backdrop {
      pointer-events: none;
    }

    .card {
      transform: scale(1.02);
    }
  }

  &.modalCloseAnimation {
    .backdrop {
      animation-name: fadeOut;
    }

    .card {
      animation-name: scaleOut;
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--black-75);
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  transform: 0.3s ease;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

.card {
  position: relative;
  backdrop-filter: blur(10px);
  background-color: var(--white-5);
  border: 1px solid var(--neutral-700);
  border-radius: 1rem;
  box-shadow: 0 4px 30px var(--black);
  margin: auto;
  max-width: 1024px;
  overflow: hidden;
  animation-name: scaleIn;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  transition: 0.3s ease;
  width: 100%;

  &.demoMobile {
    width: fit-content;

    .header {
      grid-template-columns: min-content 105px 1fr;
      column-gap: 1.5rem;
    }

    .closeBtn {
      justify-self: end;
    }
  }

  @keyframes scaleIn {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes scaleOut {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.75);
    }
  }
}

.header {
  position: relative;
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 -4px 16px 0 var(--neutral-900);
  padding: 0.5rem 0.75rem;
  z-index: 1;
}

.body {
  display: flex;
}

.searchBar {
  background-color: var(--white-15);
  border-radius: 0.25em;
  color: var(--neutral-200);
  font-size: 0.75rem;
  font-weight: 300;
  padding: 0.35rem 0.5rem;
  text-align: center;
  text-transform: lowercase;
  width: 100%;
}

.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  aspect-ratio: 1;
  margin-left: auto;
  transition: background-color 0.15s ease;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  &:focus-visible {
    outline: 1px solid var(--neutral-200);
  }
}

.video {
  aspect-ratio: 1920/914;
  margin: 0 auto;
  max-height: 600px;
  max-width: 100%;

  @media (min-width: 1200px) {
    height: 486px;
  }

  &.demoMobile {
    aspect-ratio: 1056/2080;
    height: calc(100vh - 9rem);
    min-height: 520px;
  }
}
