.footer {
  position: relative;
  background-color: var(--wave-900);
  padding-top: 6rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow-x: hidden;

  @media (min-width: 768px) {
    padding-bottom: 2.875rem;
  }
}

.background {
  position: absolute;
  bottom: 0;
  min-width: 1920px;

  @media (min-width: 768px) {
    left: 50%;
    transform: translateX(-50%);
    min-width: 1920px;
  }

  @media (min-width: 1921px) {
    width: 100%;
  }
}

.grid {
  position: relative;
  display: grid;
  row-gap: 1rem;
  align-items: center;
  justify-items: center;
  z-index: 1;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);

    :first-child {
      justify-self: start;
    }

    :last-child {
      justify-self: end;
    }
  }

  @media (min-width: 992px) {
    :first-child,
    :last-child {
      justify-self: center;
    }
  }
}

.socials {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  a {
    display: inline-block;
    border-radius: 50%;
    padding: 0.25rem;

    svg {
      transition: transform 0.3s ease;

      path {
        fill: var(--footer-text);
      }
    }

    &:hover {
      svg {
        transform: translateY(-0.25rem);
      }
    }
  }
}

.text {
  color: var(--footer-text);
  font-size: 0.875rem;
  font-weight: 600;
}
