.switchDemo {
  position: relative;
  display: flex;
  background-color: var(--modal-switch);
  border-radius: 0.25em;
  cursor: pointer;
  padding: 0.15rem 0.15rem;
  width: max-content;

  input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider::before {
      transform: translateX(100%);
    }

    &:focus-visible + .slider {
      outline: 1px solid var(--modal-text);
      outline-offset: 4px;
    }

    &:hover + .slider::before {
      background-color: var(--modal-switch-hover);
    }
  }
}

.slider {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 0.25em;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    background-color: var(--modal-switch-active);
    border-radius: 0.15rem;
    height: 100%;
    width: 50%;
    transition: background-color 0.15s ease, transform 0.25s ease;
    z-index: 0;
  }

  .sliderOption {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;

    svg path {
      fill: var(--modal-text);
    }
  }
}
