.nav {
  display: none;
  align-items: center;
  gap: 4rem;
  margin: 0 auto;

  @media (min-width: 768px) {
    display: flex;
    margin-left: 0;
  }

  .navLink {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--neutral-400);
    text-decoration: none;
    text-transform: lowercase;
    transition: color 0.15s ease;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      color: var(--neutral-200);
    }

    &.active {
      color: var(--neutral-300);
    }
  }

  &.mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    .navLink {
      font-size: 1rem;
    }
  }
}
