.nav {
  display: none;
  align-items: center;
  gap: 4rem;
  margin: 0 auto;

  @media (min-width: 768px) {
    display: flex;
  }

  .navLink {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--neutral-400);
    text-decoration: none;
    text-transform: lowercase;
    transition: color 0.15s ease;

    &:hover {
      color: var(--neutral-200);
    }

    &.active {
      color: var(--neutral-200);
    }
  }

  &.mobile {
    display: flex;
    flex-direction: column;

    .navLink {
      font-size: 1.25rem;
    }
  }
}
