.projects {
  padding: 3rem 0;
}

.heading {
  position: relative;
  display: inline-block;
  color: #569cd6;
  font-size: 4rem;
  margin-bottom: 3rem;

  &::before {
    content: '';
    position: absolute;
    right: -10%;
    bottom: 10%;
    background-color: #183367;
    height: 0.25em;
    width: 75%;
    z-index: -1;
  }
}

.masonryGrid {
  display: flex;
  column-gap: 2rem;
  padding: 0 2rem;
  width: auto;
}

.masonryGridCol {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
