.projects {
  position: relative;
  background-color: var(--dark-blue-700);
  padding-top: 2rem;
  padding-bottom: 5rem;
  scroll-margin-top: 1rem;

  @media (min-width: 992px) and (max-width: 1200px) {
    padding-top: 3rem;
  }

  @media (min-width: 992px) {
    padding-bottom: 10rem;
  }
}

.background {
  position: absolute;
  bottom: -2rem;
  width: 100%;

  @media (min-width: 576px) {
    bottom: -3rem;
  }

  @media (min-width: 768px) {
    bottom: -5rem;
  }

  @media (min-width: 1200px) {
    bottom: -9rem;
  }

  svg {
    display: block;
    aspect-ratio: 1000/400;
    transform: scaleX(-1);
    height: 100%;
    width: 100%;
  }
}
