* {
  &::before,
  &::after {
    box-sizing: border-box;
  }

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: rgba(255, 255, 255, 0.87);
}

html {
  color-scheme: dark light;
  scroll-behavior: smooth;
  scroll-padding-top: 68px;
}

body {
  background-color: #121212;
  color: var(--white);
  min-height: 100vh;
  overflow-x: hidden;
}

img,
svg {
  vertical-align: middle;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

.heading {
  position: relative;
  display: inline-block;
  color: #569cd6;
  font-size: 2rem;
  margin-bottom: 2rem;
  z-index: 1;

  @media (min-width: 768px) {
    font-size: 3rem;
    margin-bottom: 2.5rem;
  }

  &::before {
    content: '';
    position: absolute;
    right: -10%;
    bottom: 10%;
    background-color: #183367;
    height: 0.25em;
    width: 75%;
    z-index: -1;
  }
}

.d-flex {
  display: flex;
}

.text {
  &-blue {
    color: #569cd6;
  }
  &-salmon {
    color: #ce9178;
  }
  &-gray {
    color: #808080;
  }
  &-lightblue {
    color: #9cdcfe;
  }
  &-lightgray {
    color: #d4d4d4;
  }
}

.text-center {
  text-align: center;
}

.swiper {
  padding: 1.25rem 0 !important;

  .swiper-slide {
    max-width: calc(100% - 2rem - 2rem);

    &.swiper-slide-active div {
      opacity: 1;
    }

    .swiper-slide-shadow-left,
    .swiper-slide-shadow-right {
      border-radius: 1em;
    }
  }
}
