.about {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
  scroll-margin-top: 1000px;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 40%;
  transform: translateY(-60%);
  aspect-ratio: 960/300;
  min-height: 100%;
  min-width: 100%;
  pointer-events: none;
  z-index: -1;
}

.code {
  position: relative;
  backdrop-filter: blur(6px);
  border: 1px solid #183367;
  border-radius: 1rem;
  box-shadow: 0px 4px 24px rgba(23, 92, 230, 0.15);
  font-size: 1rem;
  max-width: 800px;
  margin: 0 auto;
  padding: 1.75rem 1.25rem 1.5rem 0.75rem;

  &::before {
    content: '✓ Word Wrap';
    position: absolute;
    top: 0.75em;
    right: 1.25em;
    font-size: 0.875em;
    opacity: 0.25;
  }
}

.codeRow {
  display: flex;
  gap: 0.5rem;

  @media (min-width: 576px) {
    gap: 1.5rem;
  }

  &.tab2 .codeText {
    margin-left: 1.1em;
  }

  &.tab4 .codeText {
    margin-left: 2.2em;
  }
}

.codeLine {
  flex-shrink: 0;
  color: #808080;
  text-align: right;
  opacity: 0.5;
  width: 18px;

  @media (min-width: 576px) {
    width: 30px;
  }
}
